<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>welcome to the mind coder \n enter your exprience </h1>-->
<!--<form action='/contact' method="get">-->
<!--    <textarea  name='text' style='margin: 1px; width: 721px; height:98; color:red; '>-->

<!--    </textarea>-->
<!--    <br>-->
<!--    <input type="checkbox" name="removepunc"> remove pucntuation<br>-->
<!--    <input type="checkbox" name="uppercase"> Uppercase<br>-->
<!--    <input type="checkbox" name="newline">new line remover <br>-->
<!--    <input type="checkbox" name="space"> extra space<br>-->
<!--    <input type="checkbox" name="lenghts"> lenght of your text<br>-->
<!--    <input type="text" name="name"> enter name-->
<!--    <input type="text" name="error"> enter error-->
<!--    <button type='submit'> Analyze Text</button>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->